<div class="display-flex h-space-between">
    <div class="example-button-container logo-div">
        <button mat-fab color="warn" aria-label="Example icon button with a home icon">
            <h3> AM</h3>
        </button>
    </div>

    <div class="example-button-container menu-div">
        <button mat-button color="warn">First</button>
        <button mat-button color="warn">Second</button>
        <button mat-button color="warn">Third</button>
        <button mat-button color="warn">Fourth</button>
        <button mat-button color="warn">Fifth</button>
    </div>
</div>